In [66]:
from scipy.stats import skew
from IPython.display import display
import matplotlib.pyplot as plt
import sys
sys.path.append('/Users/yanhuan/anaconda/pkgs/seaborn-0.7.1-py27_0/lib/python2.7/site-packages')
import seaborn as sns
import numpy as np
import pandas as pd

# getting data
SP500=pd.read_csv('S&P500 1997-6-30 2017-6-27.csv')
Nasdaq=pd.read_csv('Nasdaq 1997-6-30 2017-6-27.csv')
DJI=pd.read_csv('Dow Jones Industrial Average (^DJI) 1997-6-30 2017-6-27.csv')
DAX=pd.read_csv('Frankfurt DAX 1997-6-30 2017-6-27.csv')
Paris=pd.read_csv('Paris CAC40 1997-6-30 2017-6-27.csv')
Tokyo=pd.read_csv('Tokyo Nikkei-225 1997-6-30 2017-6-27.csv')
HongKong=pd.read_csv('Hong Kong Hang Seng 1997-6-30 2017-6-27.csv')
Aus=pd.read_csv('Australia ASX-200 1997-6-30 2017-6-27.csv')

fill the missing data by using "ffill"

In [67]:
SP500.fillna(method='ffill',inplace=True)
Nasdaq.fillna(method='ffill',inplace=True)
DJI.fillna(method='ffill',inplace=True)
DAX.fillna(method='ffill',inplace=True)
Paris.fillna(method='ffill',inplace=True)
Tokyo.fillna(method='ffill',inplace=True)
HongKong.fillna(method='ffill',inplace=True)
Aus.fillna(method='ffill',inplace=True)

In [68]:
SP500.index = SP500['Date'].tolist()
#SP500=SP500.drop('Date', axis = 1)

Nasdaq.index = Nasdaq['Date'].tolist()
#Nasdaq=Nasdaq.drop('Date', axis = 1)

DJI.index = DJI['Date'].tolist()
#DJI=DJI.drop('Date', axis = 1)

DAX.index = DAX['Date'].tolist()
#DAX=DAX.drop('Date', axis = 1)

Paris.index = Paris['Date'].tolist()
#Paris=Paris.drop('Date', axis = 1)

Tokyo.index = Tokyo['Date'].tolist()
#Tokyo=Tokyo.drop('Date', axis = 1)

HongKong.index = HongKong['Date'].tolist()
#HongKong=HongKong.drop('Date', axis = 1)

Aus.index = Aus['Date'].tolist()
#Aus=Aus.drop('Date', axis = 1)

Make this function to unify all the features of 8 stock prices.E.g,as I will start by  train model foe SP500,I use the feature of SP500 as the benchmark.Specificallyï¼Œif SP500 missing data at one date then for the other 7 stocks delete this date's data,on the other hand,if other stock miss data at one data but SP500 has then fill the data by using "ffill" .

In [69]:
def Unify(SP500,other):
    'unify other datasets with sp500 '
    #extra=[]
    df=pd.DataFrame(columns=['Date','Open','High','Low','Close','Adj Close','Volume'])
    for i in range(len(SP500)):
        flag=0
        for j in range(len(other)):
            if SP500.index[i]==other.index[j]:
                df=df.append(other.iloc[j])
                flag=1
                break
        if flag==0:
            if not len(df)==0:
                df=df.append(SP500.iloc[i])
                df.set_value(df.index[-1],df.columns[1],df.iloc[-2][1])
                df.set_value(df.index[-1],df.columns[2],df.iloc[-2][2])
                df.set_value(df.index[-1],df.columns[3],df.iloc[-2][3])
                df.set_value(df.index[-1],df.columns[4],df.iloc[-2][4])
                df.set_value(df.index[-1],df.columns[5],df.iloc[-2][5])
                df.set_value(df.index[-1],df.columns[6],df.iloc[-2][6])
            else:
                df=df.append(SP500.iloc[i])
                df.set_value(df.index[-1],df.columns[1],other.iloc[0][1])
                df.set_value(df.index[-1],df.columns[2],other.iloc[0][2])
                df.set_value(df.index[-1],df.columns[3],other.iloc[0][3])
                df.set_value(df.index[-1],df.columns[4],other.iloc[0][4])
                df.set_value(df.index[-1],df.columns[5],other.iloc[0][5])
                df.set_value(df.index[-1],df.columns[6],other.iloc[0][6])
    #SP500.drop(SP500.index[extra],inplace=True)
    return df

In [70]:
def CheckIndentity(SP500,other):
    'check the indentity between other datasets and sp500'
    for i in range(len(SP500)):
        if SP500.index[i]==other.index[i]:
            pass
        else:
            print(i)
            print(SP500.index[i])
            print(other.index[i])

In [71]:
Nasdaq=Unify(SP500,Nasdaq)
CheckIndentity(SP500,Nasdaq)
Nasdaq.info()
SP500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null object
dtypes: float64(5), object(2)
memory usage: 314.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 314.5+ KB

In [72]:
DJI=Unify(SP500,DJI)
CheckIndentity(SP500,DJI)
DJI.info()
SP500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null object
dtypes: float64(5), object(2)
memory usage: 314.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 314.5+ KB

In [73]:
DAX=Unify(SP500,DAX)
CheckIndentity(SP500,DAX)
DAX.info()
SP500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null float64
dtypes: float64(6), object(1)
memory usage: 314.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 314.5+ KB

In [74]:
Paris=Unify(SP500,Paris)
CheckIndentity(SP500,Paris)
Paris.info()
SP500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null float64
dtypes: float64(6), object(1)
memory usage: 314.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 314.5+ KB

In [75]:
Tokyo=Unify(SP500,Tokyo)
CheckIndentity(SP500,Tokyo)
Tokyo.info()
SP500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null float64
dtypes: float64(6), object(1)
memory usage: 474.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 314.5+ KB

In [76]:
HongKong=Unify(SP500,HongKong)
CheckIndentity(SP500,HongKong)
HongKong.info()
SP500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null object
dtypes: float64(5), object(2)
memory usage: 314.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 314.5+ KB

In [77]:
Aus=Unify(SP500,Aus)
CheckIndentity(SP500,Aus)
Aus.info()
SP500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null float64
dtypes: float64(6), object(1)
memory usage: 474.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 5032 entries, 6-30-97 to 6-27-17
Data columns (total 7 columns):
Date         5032 non-null object
Open         5032 non-null float64
High         5032 non-null float64
Low          5032 non-null float64
Close        5032 non-null float64
Adj Close    5032 non-null float64
Volume       5032 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 314.5+ KB

In [78]:
SP500.to_csv('SP500_new.csv', index=False)
Nasdaq.to_csv('Nasdaq_new.csv', index=False)
DJI.to_csv('DJI_new.csv', index=False)
DAX.to_csv('DAX_new.csv', index=False)
Paris.to_csv('Paris_new.csv', index=False)
Tokyo.to_csv('Tokyo_new.csv', index=False)
HongKong.to_csv('HongKong_new.csv', index=False)
Aus.to_csv('Aus_new.csv', index=False)